@import "tailwindcss";

/* Esto asegura que el fondo crema y la fuente se apliquen aunque falle lo demás */
body {
  background-color: #fdfcf8;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}